@{
    ViewData["Title"] = "Home Page";
}
<p>
    <h1>@ViewData["Name"]</h1>
</p>
<p>
    <h1>@ViewBag.name</h1>
</p>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
